{% extends 'admin/master.html' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin/style.css') }}">
{% endblock %}

{% block body %}


<br>
<br>
<br>
<br>
<div class="container-fluid text-center">
    <h2>Добро пожаловать в админ-панель!</h2>
    <h2 class="text-info">Управление продуктами</h2>
    <p>В этом приложении вы можете:</p>
    <ul class="list-unstyled">
        <li>Добавлять новые продукты</li>
        <li>Удалять уже существующие продукты</li>
        <li>Изменять информацию о продуктах</li>
        <li>Поиск продуктов по наименованию</li>
    </ul>
    <h2 class="text-success">Управление заказами</h2>
    <p>На странице заказов вы можете:</p>
    <ul class="list-unstyled">
        <li>Просматривать информацию о заказах</li>
        <li>Изменять информацию о заказах</li>
        <li>Удалять заказы</li>
    </ul>

    <div class="row footer">
        <div class="col-md-12">
            <p>Создано <a href="https://github.com/MikesoWeb" target="_blank">MikesoWeb</a> 2023</p>
        </div>
    </div>

</div>


{% endblock %}