
.footer {
    position: relative;
    bottom: 20px;
    width: 100%;
    text-align: center;


}

.order-link {
    color: rgb(140, 255, 0);
    text-decoration: underline;
}




@media (max-width: 400px) {

    .table td,
    .table th {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 768px) {
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }
}